[user]
	email = benmlubas@gmail.com
	name = benlubas

[core]
	excludesFile = ~/.gitignore
  pager = delta

[interactive]
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  syntax-theme = Dracula

[push]
  autoSetupUpstream = true

[merge]
  conflictstyle = diff3

[diff]
  colorMoved = default

[alias]
  lb = !git reflog show --pretty=format:'%gs ~ %gd' --date=relative --grep-reflog='checkout:' | grep -oE '[^ ]+ ~ .*' | awk -F~ '!seen[$1]++' | head -n 10 | awk -F' ~ HEAD@{' '{printf(\"  \\033[33m%s: \\033[37m %s\\033[0m\\n\", substr($2, 1, length($2)-1), $1)}'
  clean = "remote prune origin; git branch -vv | awk '/: gone]/' | cut -d' ' -f3 | xargs git branch -D"
