*background: #101010
*foreground: #b2b2b2
*bright_foreground: #eeeeee
*black: #323437
*red: #ff5454
*green: #8cc85f
*yellow: #e3c78a
*blue: #80a0ff
*magenta: #cf87e8
*cyan: #79dac8
*white: #c6c6c6
*bright-black: #949494
*bright-red: #ff5189
*bright-green: #36c692
*bright-yellow: #c2c292
*bright-blue: #74b2ff
*bright-magenta: #ae81ff
*bright-cyan: #85dc85
*bright-white: #e4e4e4
